In [1]:
import datetime
import numpy as np
import pandas as pd
from sklearn.externals import joblib

CT_DIR = 'save/'
import pickle
def load_obj(name):
    with open(CT_DIR + name + '.pkl', 'rb') as f:
        return pickle.load(f)

In [2]:
# Liste des companies
model_carrier = load_obj('model_carrier')
choices_carrier = [(x, x) for x in model_carrier]
# Liste des aéroports
model_airport = load_obj('model_airport')
choices_airport = model_airport.get_values()
choices_airport

array([[10141, 'Aberdeen, SD'],
       [10136, 'Abilene, TX'],
       [10165, 'Adak Island, AK'],
       [10732, 'Aguadilla, PR'],
       [10874, 'Akron, OH'],
       [10146, 'Albany, GA'],
       [10257, 'Albany, NY'],
       [10140, 'Albuquerque, NM'],
       [10185, 'Alexandria, LA'],
       [10135, 'Allentown/Bethlehem/Easton, PA'],
       [10333, 'Alpena, MI'],
       [10279, 'Amarillo, TX'],
       [10299, 'Anchorage, AK'],
       [10408, 'Appleton, WI'],
       [10157, 'Arcata/Eureka, CA'],
       [10431, 'Asheville, NC'],
       [10372, 'Aspen, CO'],
       [10397, 'Atlanta, GA'],
       [10158, 'Atlantic City, NJ'],
       [10208, 'Augusta, GA'],
       [10423, 'Austin, TX'],
       [10561, 'Bakersfield, CA'],
       [10821, 'Baltimore, MD'],
       [10581, 'Bangor, ME'],
       [10754, 'Barrow, AK'],
       [10781, 'Baton Rouge, LA'],
       [10728, 'Beaumont/Port Arthur, TX'],
       [10666, 'Bellingham, WA'],
       [10631, 'Bemidji, MN'],
       [14489, 'Bend/Redmond, OR'],
       [10551, 'Bethel, AK'],
       [10620, 'Billings, MT'],
       [10577, 'Binghamton, NY'],
       [10599, 'Birmingham, AL'],
       [10627, 'Bismarck/Mandan, ND'],
       [10685, 'Bloomington/Normal, IL'],
       [10713, 'Boise, ID'],
       [10721, 'Boston, MA'],
       [10849, 'Bozeman, MT'],
       [10739, 'Brainerd, MN'],
       [15323, 'Bristol/Johnson City/Kingsport, TN'],
       [10747, 'Brownsville, TX'],
       [10731, 'Brunswick, GA'],
       [10792, 'Buffalo, NY'],
       [10800, 'Burbank, CA'],
       [10785, 'Burlington, VT'],
       [10779, 'Butte, MT'],
       [11122, 'Casper, WY'],
       [10918, 'Cedar City, UT'],
       [11003, 'Cedar Rapids/Iowa City, IA'],
       [10994, 'Charleston, SC'],
       [11146, 'Charleston/Dunbar, WV'],
       [15024, 'Charlotte Amalie, VI'],
       [11057, 'Charlotte, NC'],
       [10990, 'Charlottesville, VA'],
       [10980, 'Chattanooga, TN'],
       [13232, 'Chicago, IL'],
       [13930, 'Chicago, IL'],
       [15027, 'Christiansted, VI'],
       [11193, 'Cincinnati, OH'],
       [11042, 'Cleveland, OH'],
       [11097, 'Cody, WY'],
       [11049, 'College Station/Bryan, TX'],
       [11109, 'Colorado Springs, CO'],
       [10868, 'Columbia, SC'],
       [11150, 'Columbus, GA'],
       [12007, 'Columbus, MS'],
       [11066, 'Columbus, OH'],
       [10926, 'Cordova, AK'],
       [11140, 'Corpus Christi, TX'],
       [11259, 'Dallas, TX'],
       [11298, 'Dallas/Fort Worth, TX'],
       [11267, 'Dayton, OH'],
       [11252, 'Daytona Beach, FL'],
       [14709, 'Deadhorse, AK'],
       [11292, 'Denver, CO'],
       [11423, 'Des Moines, IA'],
       [11433, 'Detroit, MI'],
       [11447, 'Devils Lake, ND'],
       [11336, 'Dillingham, AK'],
       [11308, 'Dothan, AL'],
       [11337, 'Duluth, MN'],
       [11413, 'Durango, CO'],
       [11503, 'Eagle, CO'],
       [11471, 'Eau Claire, WI'],
       [11540, 'El Paso, TX'],
       [11525, 'Elko, NV'],
       [11537, 'Elmira/Corning, NY'],
       [11577, 'Erie, PA'],
       [11587, 'Escanaba, MI'],
       [11603, 'Eugene, OR'],
       [11612, 'Evansville, IN'],
       [11630, 'Fairbanks, AK'],
       [11637, 'Fargo, ND'],
       [15919, 'Fayetteville, AR'],
       [11641, 'Fayetteville, NC'],
       [11695, 'Flagstaff, AZ'],
       [11721, 'Flint, MI'],
       [11697, 'Fort Lauderdale, FL'],
       [14635, 'Fort Myers, FL'],
       [11778, 'Fort Smith, AR'],
       [11823, 'Fort Wayne, IN'],
       [11638, 'Fresno, CA'],
       [11953, 'Gainesville, FL'],
       [11867, 'Garden City, KS'],
       [11865, 'Gillette, WY'],
       [11898, 'Grand Forks, ND'],
       [11980, 'Grand Island, NE'],
       [11921, 'Grand Junction, CO'],
       [11986, 'Grand Rapids, MI'],
       [12003, 'Great Falls, MT'],
       [11977, 'Green Bay, WI'],
       [11995, 'Greensboro/High Point, NC'],
       [11996, 'Greer, SC'],
       [12016, 'Guam, TT'],
       [11973, 'Gulfport/Biloxi, MS'],
       [12012, 'Gunnison, CO'],
       [11997, 'Gustavus, AK'],
       [11076, 'Hancock/Houghton, MI'],
       [12206, 'Harlingen/San Benito, TX'],
       [13230, 'Harrisburg, PA'],
       [10529, 'Hartford, CT'],
       [14109, 'Hattiesburg/Laurel, MS'],
       [12094, 'Hayden, CO'],
       [12255, 'Hays, KS'],
       [12156, 'Helena, MT'],
       [12129, 'Hibbing, MN'],
       [12402, 'Hilo, HI'],
       [12177, 'Hobbs, NM'],
       [12173, 'Honolulu, HI'],
       [12266, 'Houston, TX'],
       [11495, 'Houston, TX'],
       [12191, 'Houston, TX'],
       [12217, 'Huntsville, AL'],
       [12250, 'Hyannis, MA'],
       [12280, 'Idaho Falls, ID'],
       [12339, 'Indianapolis, IN'],
       [12343, 'International Falls, MN'],
       [12335, 'Iron Mountain/Kingsfd, MI'],
       [12391, 'Islip, NY'],
       [12397, 'Ithaca/Cortland, NY'],
       [12441, 'Jackson, WY'],
       [12448, 'Jackson/Vicksburg, MS'],
       [12451, 'Jacksonville, FL'],
       [13795, 'Jacksonville/Camp Lejeune, NC'],
       [12519, 'Jamestown, ND'],
       [12511, 'Joplin, MO'],
       [12523, 'Juneau, AK'],
       [13830, 'Kahului, HI'],
       [10469, 'Kalamazoo, MI'],
       [11648, 'Kalispell, MT'],
       [13198, 'Kansas City, MO'],
       [12819, 'Ketchikan, AK'],
       [11624, 'Key West, FL'],
       [11982, 'Killeen, TX'],
       [10245, 'King Salmon, AK'],
       [15412, 'Knoxville, TN'],
       [10170, 'Kodiak, AK'],
       [12758, 'Kona, HI'],
       [13970, 'Kotzebue, AK'],
       [13076, 'La Crosse, WI'],
       [12951, 'Lafayette, LA'],
       [12915, 'Lake Charles, LA'],
       [12884, 'Lansing, MI'],
       [12888, 'Laramie, WY'],
       [13061, 'Laredo, TX'],
       [12889, 'Las Vegas, NV'],
       [12898, 'Latrobe, PA'],
       [12891, 'Lawton/Fort Sill, OK'],
       [13127, 'Lewiston, ID'],
       [12945, 'Lexington, KY'],
       [12982, 'Lihue, HI'],
       [13029, 'Lincoln, NE'],
       [12992, 'Little Rock, AR'],
       [12954, 'Long Beach, CA'],
       [11905, 'Longview, TX'],
       [12892, 'Los Angeles, CA'],
       [14730, 'Louisville, KY'],
       [12896, 'Lubbock, TX'],
       [13485, 'Madison, WI'],
       [13388, 'Mammoth Lakes, CA'],
       [13296, 'Manchester, NH'],
       [13290, 'Manhattan/Ft. Riley, KS'],
       [13459, 'Marquette, MI'],
       [13541, "Martha's Vineyard, MA"],
       [13264, 'Medford, OR'],
       [13360, 'Melbourne, FL'],
       [13244, 'Memphis, TN'],
       [13241, 'Meridian, MS'],
       [13303, 'Miami, FL'],
       [13158, 'Midland/Odessa, TX'],
       [13342, 'Milwaukee, WI'],
       [13487, 'Minneapolis, MN'],
       [13433, 'Minot, ND'],
       [13256, 'Mission/McAllen/Edinburg, TX'],
       [13486, 'Missoula, MT'],
       [13422, 'Mobile, AL'],
       [13367, 'Moline, IL'],
       [13377, 'Monroe, LA'],
       [13476, 'Monterey, CA'],
       [13277, 'Montgomery, AL'],
       [13502, 'Montrose/Delta, CO'],
       [11203, 'Mosinee, WI'],
       [13344, 'Muskegon, MI'],
       [13577, 'Myrtle Beach, SC'],
       [10154, 'Nantucket, MA'],
       [10693, 'Nashville, TN'],
       [11617, 'New Bern/Morehead/Beaufort, NC'],
       [13495, 'New Orleans, LA'],
       [12953, 'New York, NY'],
       [12478, 'New York, NY'],
       [11618, 'Newark, NJ'],
       [15070, 'Newburgh/Poughkeepsie, NY'],
       [14098, 'Newport News/Williamsburg, VA'],
       [12265, 'Niagara Falls, NY'],
       [13873, 'Nome, AK'],
       [13931, 'Norfolk, VA'],
       [13964, 'North Bend/Coos Bay, OR'],
       [13796, 'Oakland, CA'],
       [13851, 'Oklahoma City, OK'],
       [13871, 'Omaha, NE'],
       [13891, 'Ontario, CA'],
       [13204, 'Orlando, FL'],
       [14006, 'Paducah, KY'],
       [14222, 'Pago Pago, TT'],
       [14262, 'Palm Springs, CA'],
       [11481, 'Panama City, FL'],
       [14252, 'Pasco/Kennewick/Richland, WA'],
       [14150, 'Pellston, MI'],
       [14193, 'Pensacola, FL'],
       [14108, 'Peoria, IL'],
       [14256, 'Petersburg, AK'],
       [14100, 'Philadelphia, PA'],
       [14107, 'Phoenix, AZ'],
       [14122, 'Pittsburgh, PA'],
       [14025, 'Plattsburgh, NY'],
       [14113, 'Pocatello, ID'],
       [14254, 'Ponce, PR'],
       [14321, 'Portland, ME'],
       [14057, 'Portland, OR'],
       [14307, 'Providence, RI'],
       [14082, 'Punta Gorda, FL'],
       [14492, 'Raleigh/Durham, NC'],
       [14457, 'Rapid City, SD'],
       [14487, 'Redding, CA'],
       [14570, 'Reno, NV'],
       [14520, 'Rhinelander, WI'],
       [14524, 'Richmond, VA'],
       [14574, 'Roanoke, VA'],
       [14633, 'Rochester, MN'],
       [14576, 'Rochester, NY'],
       [14543, 'Rock Springs, WY'],
       [14588, 'Roswell, NM'],
       [14893, 'Sacramento, CA'],
       [13184, 'Saginaw/Bay City/Midland, MI'],
       [14955, 'Saipan, TT'],
       [14869, 'Salt Lake City, UT'],
       [14842, 'San Angelo, TX'],
       [14683, 'San Antonio, TX'],
       [14679, 'San Diego, CA'],
       [14771, 'San Francisco, CA'],
       [14831, 'San Jose, CA'],
       [14843, 'San Juan, PR'],
       [14698, 'San Luis Obispo, CA'],
       [14908, 'Santa Ana, CA'],
       [14689, 'Santa Barbara, CA'],
       [14674, 'Santa Fe, NM'],
       [14905, 'Santa Maria, CA'],
       [14986, 'Sarasota/Bradenton, FL'],
       [11013, 'Sault Ste. Marie, MI'],
       [14685, 'Savannah, GA'],
       [10558, 'Scottsbluff, NE'],
       [10434, 'Scranton/Wilkes-Barre, PA'],
       [14747, 'Seattle, WA'],
       [14814, 'Shreveport, LA'],
       [11775, 'Sioux Falls, SD'],
       [14828, 'Sitka, AK'],
       [14696, 'South Bend, IN'],
       [11884, 'Spokane, WA'],
       [14952, 'Springfield, IL'],
       [14783, 'Springfield, MO'],
       [15497, 'St. Augustine, FL'],
       [14794, 'St. George, UT'],
       [15016, 'St. Louis, MO'],
       [14711, 'State College, PA'],
       [15041, 'Sun Valley/Hailey/Ketchum, ID'],
       [15096, 'Syracuse, NY'],
       [15249, 'Tallahassee, FL'],
       [15304, 'Tampa, FL'],
       [15401, 'Texarkana, AR'],
       [15380, 'Traverse City, MI'],
       [15356, 'Trenton, NJ'],
       [15376, 'Tucson, AZ'],
       [15370, 'Tulsa, OK'],
       [15389, 'Twin Falls, ID'],
       [15411, 'Tyler, TX'],
       [15607, 'Valdosta, GA'],
       [15624, 'Valparaiso, FL'],
       [10155, 'Waco, TX'],
       [12264, 'Washington, DC'],
       [11278, 'Washington, DC'],
       [11563, 'Wendover, UT'],
       [14027, 'West Palm Beach/Palm Beach, FL'],
       [15897, 'West Yellowstone, MT'],
       [12197, 'White Plains, NY'],
       [14960, 'Wichita Falls, TX'],
       [12278, 'Wichita, KS'],
       [12389, 'Williston, ND'],
       [12323, 'Wilmington, NC'],
       [13933, 'Worcester, MA'],
       [15841, 'Wrangell, AK'],
       [15991, 'Yakutat, AK'],
       [16218, 'Yuma, AZ']], dtype=object)

In [3]:
CT_COMPANY = "company"
CT_DEPARTURE = "departure"
CT_DATE = "date"
CT_TIME = "time"

# Liste des jours fériés américains en  2016
holidays = ['2016-01-01', '2016-01-18', '2016-02-15', '2016-05-30', '2016-07-04', '2016-09-05', '2016-10-10', '2016-11-11', '2016-11-24', '2016-12-26']
dfhol = pd.DataFrame({'date' : holidays}, columns = ['date'])
dfhol = pd.to_datetime(dfhol.date)

def DaysToHoliday(dt):
    if dt.year != 2016:
        # On renvoie une valeur moyenne si on n'est pas en 2016
        return 10
    dd = datetime.datetime(2016, dt.month, dt.day)
    return (dfhol - dd).abs().min().days

In [4]:
myCOMPANY = 'AA'
myDEPARTURE = 10397 #Atlanta
myDATE = datetime.datetime.strptime('2018-02-07', "%Y-%m-%d")
myTIME = '00:00'

In [6]:
model_name = 'model_columns_' + myCOMPANY
model_df = load_obj(model_name)
tbl = [0 for _ in range(len(model_df.columns))]
if len(tbl) == 0:
    print(model_name + ' not found')

In [7]:
hDay = DaysToHoliday(myDATE)
print(hDay)

10

In [8]:
model_df.loc[0] = 0

In [9]:
model_df["HDAYS"] = hDay
model_df["MONTH_" + str(myDATE.month)] = 1
model_df["DAY_OF_WEEK_" + str(myDATE.weekday())] = 1
hh, mm = [int(x) for x in myTIME.split(":")]
model_df["DEP_HOUR_" + str(hh)] = 1
col = "ORIGIN_AIRPORT_ID_" + str(myDEPARTURE)
if col not in model_df.columns:
    print("No departure from " + str(myDEPARTURE) + " for company" + myCOMPANY)

model_df["ORIGIN_AIRPORT_ID_" + str(myDEPARTURE)] = 1
model_df

,HDAYS,MONTH_1,MONTH_10,MONTH_11,MONTH_12,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,...,DEP_HOUR_7,DEP_HOUR_8,DEP_HOUR_9,DAY_OF_WEEK_1,DAY_OF_WEEK_2,DAY_OF_WEEK_3,DAY_OF_WEEK_4,DAY_OF_WEEK_5,DAY_OF_WEEK_6,DAY_OF_WEEK_7
0,10,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [10]:
scaler = joblib.load(CT_DIR + 'model_scaler_' + myCOMPANY + '.pkl')
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [11]:
xnum = 1
x_numerical = model_df.iloc[:, 0:xnum]
x_numerical = scaler.transform(x_numerical )
model_df.loc[:, 0:xnum] = x_numerical

In [12]:
model = joblib.load(CT_DIR + 'model_SGD_' + myCOMPANY + '.pkl')
y_pred = model.predict(model_df)[0]
y_pred

-10.662383113329387